/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#target-box {
  width: 40px;
  height: 40px;
  border: solid black 5px;
}

.crop-box {
  width: 42px;
  height: 42px;
  border: solid black 2px;
}

.crop-display-container {

}

.crop-display {
  border: solid black 2px;
  margin: 2px;
}